<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post New</title>
</head>
<body>
    <form action="/posts" method="POST">
        <label for="title">Post Title</label>
        <input id="title" type="text" name="post[title]">
        <br>
        <button>Create</button>
    </form>
</body>
</html>