<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Post by - <%= post.author %></h1>
    <h3>Content - <%= post.title %></h3>
    <button><a href="/posts/<%= post._id %>/edit">Edit Post</a></button>
    <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
        <button>Delete Post</button>
    </form>
</body>
</html>